@each(entity in entities)
  <div
    style="
      padding: 4px;
      @if(!$loop.last && border)
      border-bottom: 1px solid {{ borderColor || '#eee' }}
      @endif
    "
  >
    <small>
      {{ $loop.index + 1 }}.
    </small>
    {{ entity.title }}: {{ entity.content }}
  </div>
@endeach

@yield($slot.notes)
  <small>Put some notes here.</small>
@endyield
