<div class="form-group">
  <label for="{{ name }}">{{ label }}</label>
  <textarea
    class="form-control {{ hasErrorFor(name) ? 'is-invalid' : '' }}"
    name="{{ name }}"
    rows="{{ rows || 8 }}"
    cols="{{ cols || 80 }}"
    placeholder="{{ placeholder }}">{{ old(name, value) }}</textarea>
  {{ elIf('<div class="invalid-feedback">$self</div>', getErrorFor(name), hasErrorFor(name)) }}
</div>
