@layout('layouts.main')

@section('content')
  <div class="d-flex align-items-center" style="height: 70vh">
    <div class="text-center w-100">
      <span class="text-black-50">
        {{ locale }}
      </span>
      <p class="display-3 font-weight-light">
        {{ message }}
      </p>
    </div>
  </div>
@endsection
