@layout('layouts.main')

@section('content')
  <div class="d-flex align-items-center" style="height: 70vh">
    <div class="text-center w-100">
      <p class="display-3 font-weight-light">
        hello
      </p>
    </div>
  </div>
@endsection
