<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle || 'ninghao' }}</title>
</head>
<body>
  <div>
    <small>URL: </small>{{ request.url() }}<br>
    <small>OriginalUrl: </small>{{ request.originalUrl() }}<br>
    <small>Method: </small>{{ request.method() }}<br>
    <small>Protocol: </small>{{ request.protocol() }}<br>
  </div>
  <div class="container">
    <div class="header">
      @section('header')
      <small>__headerSection__</small>
      @endsection
    </div>
    <div class="content">
      @section('content')
        <p>There is no content yet.</p>
      @endsection
    </div>
    @include('partials.footer')
  </div>
</body>
</html>
